.headerInfo {
    margin-left: 16px;
  }
  
  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--default-color);
  }
  
  .headerInfo > p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--helper-color);
  }